.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 0px 4px;  */
  /* margin: 0px 4px; */
}

button {
  padding: 4px;
  width: 115px;
  height: 45px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px whitesmoke solid;
  transition: all .5s ease;
  color: whitesmoke;
  font-size: large;
  opacity: .6;
}

button:active {
  background-color: whitesmoke;
  color: #000;
  transition: none;

}

button:focus {
  background-color: whitesmoke;
  color: #000;
  opacity: 1;
}

button:hover {
  opacity: 1;
  cursor: pointer;
  /* color: #000;
  background-color: whitesmoke; */
}

a {
  color: white;
  text-decoration: none;
  font-size: large;
  margin: 0px 10px;
  /* line-height: 1.7px; */
}

a:hover {
  color: #000
}