.skills-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  width: 35vw;
  flex-wrap: wrap;
  
}

.skills-container {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  height: 25vh;
  margin-top: 10vh;
}